[submodule "lib/oatpp-lib"]
	path = lib/oatpp
	url = https://github.com/oatpp/oatpp-lib
[submodule "lib/oatpp-libressl"]
	path = lib/oatpp-libressl
	url = https://github.com/oatpp/oatpp-libressl
[submodule "lib/oatpp-consul"]
	path = lib/oatpp-consul
	url = https://github.com/oatpp/oatpp-consul
[submodule "lib/oatpp-kafka"]
	path = lib/oatpp-kafka
	url = https://github.com/oatpp/oatpp-kafka
[submodule "lib/oatpp-swagger"]
	path = lib/oatpp-swagger
	url = https://github.com/oatpp/oatpp-swagger
[submodule "lib/oatpp-curl"]
	path = lib/oatpp-curl
	url = https://github.com/oatpp/oatpp-curl
